*{
    padding: 0;
    margin: 0;
}

body{
    background-color: aqua;
}
.container{
    width: 360px;
padding: 33px;
    text-align: center;
    background-color: whitesmoke;
    margin-top: 5px;
    margin-left: 33%;
    border-radius: 5px solid black;



}
input{
    width: 270px;
    padding: 8px;
    border: 2px solid rgb(93, 243, 243);
    outline: none;
    font-size: 19px;

}
button{
width: 60px;
height: 41px;
background-color: rgb(19, 209, 216);
border: none;
outline: none;
cursor: pointer;

}.text ul{
    position: relative;
    background-color: rgb(19, 19, 19);
    color:white;
    font-size: 19px;
    text-align: left;
    padding: 2px;
    margin-top: 5px;

}
.text ul i{
    position: absolute;
    right: 10px;
    cursor: pointer;
}